/* Small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1023px) {
    body { font-size: 18px; }
    
    .main-nav {display: block;}
    
    .row {
        max-width: 1000px;
    }
    
    .main-nav li {
        margin-left: 20px;
    }
    
    .logo {
        width: 250px;
    }
}


/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {
    
    .main-nav { display: none; }
    .mobile-nav-icon {
        display: inline-block;
        z-index: 10;
        top: 10px;
        right: 10px;
        position: fixed;
    }
    
    .main-nav {
        float: right;
        padding: 100px 100px 10px 10px;
        position: fixed;
        z-index: 5;
        top: -55px;
        right: 0;
        background-color: #f8f8f8;
        overflow-x: hidden;
        transition: 0.5s;
        opacity: 0.8;
        height: 100%;
    }
    
    .main-nav li {
        display: contents;
        color: #000;
    }
    
    .main-nav li a:link,
    .main-nav li a:visited {
        display: block;
        border: 0;
        padding: 8px 0;
        font-size: 140%;
    }
    
    .mobile-mainNav {
        display: inline-block;
    }

    .mobile-mainNav li a:link {
        font-size: 100%;
        font-weight: lighter;
        letter-spacing: 4px;
    }
    
    
    .HP-Background{
        padding-top: 15px;
    }
    
    #indexFt {
        display: none;
    }
}

@media only screen and (max-height: 767px) {
    .main-nav li a:link,
    .main-nav li a:visited {
        padding: 4px 0;
        font-size: 120%;
    }
    
    .mobile-mainNav li a:link {
        font-size: 80%;
        font-weight: lighter;
        letter-spacing: 4px;
    }
}

/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
    .profile-photo {
        width: 80%;
        transform: translate(15%, 0%);
    }
    
    .profile-textbox {
        border: none;
        background-size: 100%;
        background-position: 100% 0%;
        background-attachment: scroll;
    }
    
    footer {
        padding: 20px;
    }
}
